*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right, rgb(216, 216, 216), rgb(56, 56, 56));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    margin-top: 15px;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
button{
    border-radius: 10px;
    width: 10%;
    border: 1px solid;
    background-color: rgb(207, 207, 207);
}
::placeholder{
    text-align: center;
}
input{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
}
#but{
    width: 20%;
}
.row{
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 2px solid;
    border-radius: 20px;
}